@font-face {
    font-family: "Inter";
    src: url(https://widget.vivo-chat.com/static/media/Inter-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: "Inter";
    src: url(https://widget.vivo-chat.com/static/media/Inter-Medium.woff2) format("woff2");
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: "Inter";
    src: url(https://widget.vivo-chat.com/static/media/Inter-SemiBold.woff2) format("woff2");
    font-style: normal;
    font-weight: 600
}
