:root {
    --Background-Primary: rgb(253, 253, 253);
    --Background-Secondary: rgb(243, 243, 243);
    --Background-Tertiary: rgb(238, 237, 236);
    --Background-Quaternary: rgb(244, 244, 245);
    --Fill-Primary: rgba(253, 253, 253, 0.8);
    --Fill-Secondary: rgba(0, 0, 0, 0.32);
    --Fill-Tertiary: rgba(0, 0, 0, 0.08);
    --Fill-Quaternary: rgb(253, 253, 253);
    --Label-Primary: rgb(55, 53, 47);
    --Label-Secondary: rgba(0, 0, 0, 0.48);
    --Label-Tertiary: rgba(0, 0, 0, 0.32);
    --Label-Brand: rgb(109, 99, 230);
    --Label-Brand-Contrast: rgb(253, 253, 253);
    --Border-Primary: rgba(0, 0, 0, 0.04);
    --Border-Secondary: rgba(0, 0, 0, 0.08);
    --Border-Tertiary: rgba(0, 0, 0, 0.32);
    --System-Contrast: rgb(253, 253, 253);
    --System-Contrast-2: rgba(253, 253, 253, 0.48);
    --System-Error: rgb(244, 28, 28);
    --System-Error-Hover: rgb(225, 42, 42);
    --System-Warning: rgb(255, 204, 0);
    --System-Ok: rgb(52, 199, 89);
    --System-Brand: rgb(109, 99, 230);
    --System-Brand-Hover: rgb(89, 79, 207);
    --System-Brand-Bubble: rgb(237, 236, 251);
    --System-Brand-Secondary: rgb(237, 236, 251);
    --System-1: rgb(102, 196, 239);
    --System-2: rgba(26, 24, 36, 0.72);
    --System-9: rgb(55, 53, 47);
}

:root .dark {
    --Background-Primary: rgb(54, 56, 60);
    --Background-Secondary: rgb(45, 47, 52);
    --Background-Tertiary: rgb(43, 44, 50);
    --Background-Quaternary: rgb(38, 39, 43);
    --Fill-Primary: rgba(188, 189, 191, 0.8);
    --Fill-Secondary: rgba(253, 253, 253, 0.32);
    --Fill-Tertiary: rgba(253, 253, 253, 0.08);
    --Fill-Quaternary: rgb(59, 61, 65);
    --Label-Primary: rgb(253, 253, 253);
    --Label-Secondary: rgba(253, 253, 253, 0.48);
    --Label-Tertiary: rgba(253, 253, 253, 0.32);
    --Label-Brand: rgb(253, 253, 253);
    --Label-Brand-Contrast: rgb(109, 99, 230);
    --Border-Primary: rgba(253, 253, 253, 0.04);
    --Border-Secondary: rgba(253, 253, 253, 0.08);
    --Border-Tertiary: rgba(253, 253, 253, 0.32);
    --System-Contrast: rgb(253, 253, 253);
    --System-Contrast-2: rgba(253, 253, 253, 0.48);
    --System-Error: rgb(255, 69, 58);
    --System-Error-Hover: rgb(241, 62, 52);
    --System-Warning: rgb(255, 214, 10);
    --System-Ok: rgb(50, 215, 75);
    --System-Brand: rgb(119, 90, 234);
    --System-Brand-Hover: rgb(111, 83, 220);
    --System-Brand-Bubble: rgb(119, 90, 234);
    --System-Brand-Secondary: rgb(78, 70, 119);
    --System-1: rgb(102, 196, 239);
    --System-2: rgba(26, 24, 36, 0.72);
    --System-9: rgb(55, 53, 47);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.bx0e6qYg {
    font-family: Inter;
}

.AivwzTfT {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.CV8Oondb {
    font-size: 24px;
}

.CV8Oondb,
.lrbrKiuZ {
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.lrbrKiuZ {
    font-size: 20px;
}

._4p7IEzN7 {
    font-weight: 600;
}

._4p7IEzN7,
.i-sNb7CT {
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
}

.i-sNb7CT {
    font-weight: 500;
}

.-I1kMl15 {
    font-weight: 400;
}

.-I1kMl15,
._-5CHUPRc {
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

._-5CHUPRc {
    font-weight: 500;
}

._3wVbsfpH {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

._-03FCRu- {
    font-weight: 400;
}

._-03FCRu-,
.yfBYRgXQ {
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
}

.yfBYRgXQ {
    font-weight: 500;
}

.mCi5l2pm {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.AWA8-A2f {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
}

.No9sO94s {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._18BedXz4 {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 4px;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 0 12px;
    position: relative;
}

._18BedXz4,
._18BedXz4 * {
    box-sizing: border-box;
}

._18BedXz4:disabled {
    cursor: not-allowed;
}

._18BedXz4:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

._18BedXz4 ._4UuNzwUD {
    flex: 0 0 auto;
}

._18BedXz4 .Z-68K5AI,
._18BedXz4 ._4UuNzwUD {
    align-items: center;
    display: flex;
    justify-content: center;
}

._18BedXz4 .Z-68K5AI {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

._18BedXz4 svg {
    font-size: 16px;
}

._18BedXz4 .zu1bq7rv {
    flex: 0 1 auto;
}

._18BedXz4 .zu1bq7rv.koNhZ4Y2 {
    visibility: hidden;
}

.qDri66JH {
    width: 100%;
}

.st6yY9Jv {
    background: var(--System-Brand);
    color: var(--System-Contrast);
}

.st6yY9Jv:hover {
    background: var(--System-Brand-Hover);
}

.st6yY9Jv:disabled {
    background: var(--Background-Secondary);
    color: var(--Label-Tertiary);
}

.Qz8hl0Ei {
    background: rgba(0, 0, 0, 0);
    border: 1px solid var(--Border-Secondary);
    color: var(--Label-Primary);
    padding: 0 11px;
}

.Qz8hl0Ei:hover {
    background: var(--Background-Secondary);
}

.Qz8hl0Ei.QfItr281 {
    background: var(--Background-Tertiary);
}

.Qz8hl0Ei:disabled {
    background: var(--Background-Secondary);
    color: var(--Label-Tertiary);
}

.j-3rjz0y {
    background: var(--Background-Primary);
    color: var(--Label-Secondary);
}

.j-3rjz0y:hover {
    background: var(--Background-Secondary);
    color: var(--Label-Primary);
}

.j-3rjz0y.QfItr281 {
    background: var(--Background-Tertiary);
    color: var(--Label-Primary);
}

.j-3rjz0y:disabled {
    color: var(--Label-Tertiary);
}

.Nd7xMFo8,
.j-3rjz0y:disabled {
    background: var(--Background-Secondary);
}

.Nd7xMFo8 {
    color: var(--Label-Secondary);
}

.Nd7xMFo8.QfItr281,
.Nd7xMFo8:hover {
    background: var(--Background-Tertiary);
    color: var(--Label-Primary);
}

.Nd7xMFo8:disabled {
    background: var(--Background-Secondary);
    color: var(--Label-Tertiary);
}

._1voOb8Nk {
    background: var(--System-Error);
    color: var(--System-Contrast);
}

._1voOb8Nk:hover {
    background: var(--System-Error-Hover);
}

._1voOb8Nk:disabled {
    background: var(--Background-Secondary);
    color: var(--Label-Tertiary);
}

.RXFPYIqX {
    border-radius: 6px;
    height: 24px;
}

.nDnODRKw {
    border-radius: 8px;
    height: 32px;
}

.qD-QhlsJ {
    border-radius: 8px;
    height: 40px;
}

._8RWXt-Wr {
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 0;
}

._8RWXt-Wr,
._8RWXt-Wr * {
    box-sizing: border-box;
}

._8RWXt-Wr:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.qjfR5G8S {
    background: var(--Fill-Quaternary);
    color: var(--Label-Primary);
}

.qjfR5G8S.uH6S44D8,
.qjfR5G8S:hover {
    background: var(--Background-Secondary);
}

.-CufXHRD,
.qjfR5G8S:disabled {
    color: var(--Label-Tertiary);
}

.-CufXHRD {
    background: var(--Fill-Quaternary);
}

.-CufXHRD.uH6S44D8,
.-CufXHRD:hover {
    background: var(--Background-Secondary);
    color: var(--Label-Primary);
}

.-CufXHRD:disabled {
    background: var(--Background-Primary);
    color: var(--Label-Tertiary);
}

.tIA4U59E {
    background: var(--Fill-Quaternary);
    color: var(--System-Brand);
}

.tIA4U59E.uH6S44D8,
.tIA4U59E:hover {
    background: var(--Background-Secondary);
}

.tIA4U59E:disabled {
    background: var(--Background-Primary);
    color: var(--Label-Tertiary);
}

.DhbfDjPy {
    background: var(--Fill-Quaternary);
    color: var(--System-Error);
}

.DhbfDjPy.uH6S44D8,
.DhbfDjPy:hover {
    background: var(--Background-Secondary);
}

.DhbfDjPy:disabled {
    background: var(--Background-Primary);
    color: var(--Label-Tertiary);
}

.a-uqpsFO {
    background: var(--System-Brand);
    color: var(--System-Contrast);
}

.a-uqpsFO.uH6S44D8,
.a-uqpsFO:hover {
    background: var(--System-Brand-Hover);
}

.a-uqpsFO:disabled {
    background: var(--Background-Secondary);
    color: var(--Label-Tertiary);
}

.jyUrlrtQ {
    background: var(--System-Error);
    color: var(--System-Contrast);
}

.jyUrlrtQ.uH6S44D8,
.jyUrlrtQ:hover {
    background: var(--System-Error-Hover);
}

.jyUrlrtQ:disabled {
    background: var(--Background-Primary);
    color: var(--Label-Tertiary);
}

.are9sdoJ {
    font-size: 16px;
    height: 24px;
    width: 24px;
}

.s4q7bQdg {
    font-size: 20px;
    height: 28px;
    width: 28px;
}

.KG7lpTzQ {
    font-size: 24px;
    height: 32px;
    width: 32px;
}

.i3EJGK3n {
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    display: flex;
    gap: 4px;
    height: 16px;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 0;
}

.i3EJGK3n,
.i3EJGK3n * {
    box-sizing: border-box;
}

.i3EJGK3n:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.i3EJGK3n.q8hmH0M6 {
    color: var(--System-Brand);
}

.i3EJGK3n.q8hmH0M6:hover {
    color: var(--System-Brand-Hover);
}

.i3EJGK3n.Euy1bUVo {
    color: var(--System-Error);
}

.i3EJGK3n.Euy1bUVo:hover {
    color: var(--System-Error-Hover);
}

.E4OZ8Yg6 {
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border: none;
    color: var(--Label-Primary);
    display: flex;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 0;
}

.E4OZ8Yg6,
.E4OZ8Yg6 * {
    box-sizing: border-box;
}

.E4OZ8Yg6:hover {
    background: var(--Background-Secondary);
}

.E4OZ8Yg6:disabled {
    color: var(--Label-Tertiary);
}

.E4OZ8Yg6:hover:disabled {
    background: rgba(0, 0, 0, 0);
}

.E4OZ8Yg6:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.akqIUSgn {
    border-radius: 4px;
    font-size: 16px;
    height: 20px;
    width: 20px;
}

.eniRpSjR {
    border-radius: 8px;
    font-size: 20px;
    height: 28px;
    width: 28px;
}

.vZUFjocE {
    display: flex;
    flex-direction: column;
    width: min-content;
}

.vZUFjocE,
.vZUFjocE * {
    box-sizing: border-box;
}

.vZUFjocE.pEJW6nX9 {
    width: 100%;
}

.B2Wxlbll {
    align-items: center;
    background: var(--Background-Secondary);
    border-radius: 8px;
    color: var(--Label-Secondary);
    display: inline-flex;
    gap: 4px;
    overflow: hidden;
}

.B2Wxlbll,
.B2Wxlbll:hover {
    border: 1px solid var(--Border-Primary);
}

.B2Wxlbll:hover {
    background: var(--Background-Tertiary);
}

.B2Wxlbll:focus-within {
    background: var(--Background-Secondary);
    border: 1px solid var(--System-Brand);
}

.B2Wxlbll.cyZBqAb9 {
    border: 1px solid var(--System-Error);
}

.B2Wxlbll.bz5qESPi {
    padding-right: 11px;
}

.B2Wxlbll .GBLXvryJ {
    background: rgba(0, 0, 0, 0);
    border: none;
    caret-color: var(--System-Brand);
    color: var(--Label-Primary);
    flex: 1 1 auto;
    margin: 0;
    outline: none;
    padding: 5px 11px;
}

.B2Wxlbll .GBLXvryJ::placeholder {
    color: var(--Label-Tertiary);
}

.B2Wxlbll .GBLXvryJ.cyZBqAb9 {
    color: var(--System-Error);
}

.B2Wxlbll .GBLXvryJ.cyZBqAb9::placeholder {
    color: var(--System-Error);
}

.B2Wxlbll .GBLXvryJ.uFhRsCaV {
    padding-right: 0;
}

.B2Wxlbll .MQ3ICI05 {
    cursor: default;
    position: relative;
}

.B2Wxlbll .MQ3ICI05,
.B2Wxlbll .MQ3ICI05 .XktcO31H {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.B2Wxlbll .MQ3ICI05 .XktcO31H {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.-qChusiA {
    color: var(--Label-Tertiary);
    cursor: pointer;
}

.JxmVf04a {
    color: var(--System-Error);
    flex: 0 0 100%;
    padding: 0 12px;
}

.Fe4al3bB {
    height: 32px;
}

._1aDB7nGy {
    height: 40px;
}

.hLpY-3TV {
    display: inline-flex;
    gap: 8px;
}

.hLpY-3TV,
.hLpY-3TV * {
    box-sizing: border-box;
}

.hLpY-3TV ._3Ad2pIwh {
    background: var(--Background-Secondary);
    border: 1px solid var(--Border-Primary);
    border-radius: 12px;
    caret-color: var(--System-Brand);
    color: var(--Label-Primary);
    outline: none;
    padding: 0;
    text-align: center;
}

.hLpY-3TV ._3Ad2pIwh::placeholder {
    color: var(--Label-Tertiary);
}

.hLpY-3TV ._3Ad2pIwh:hover {
    background: var(--Background-Tertiary);
    border: 1px solid var(--Border-Primary);
}

.hLpY-3TV ._3Ad2pIwh:focus {
    background: var(--Background-Quaternary);
    border: 1px solid var(--Border-Primary);
}

.hLpY-3TV ._3Ad2pIwh:focus::placeholder {
    color: rgba(0, 0, 0, 0);
}

.hLpY-3TV ._3Ad2pIwh.am7TEcTq {
    color: var(--System-Error);
}

.Ayz7UuTp {
    height: 64px;
    width: 40px;
}

.aHFyHjkh {
    height: 72px;
    width: 48px;
}

.-A3KtapU {
    background: var(--Background-Secondary);
    border: 1px solid var(--Border-Primary);
    border-radius: 8px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.-A3KtapU,
.-A3KtapU * {
    box-sizing: border-box;
}

.-A3KtapU:hover {
    background: var(--Background-Tertiary);
}

.-A3KtapU:focus-within {
    background: var(--Background-Secondary);
    border: 1px solid var(--System-Brand);
}

.-A3KtapU._7G9-alTy {
    width: 100%;
}

.-A3KtapU .ab-Yy3nm {
    color: var(--Label-Tertiary);
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    padding: 0 11px;
}

.-A3KtapU .ab-Yy3nm.Y7ptAyof {
    padding: 0 12px;
}

.-A3KtapU.M4VFnlzC {
    padding-bottom: 7px;
}

.-A3KtapU.Y7ptAyof {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0;
    outline: none;
}

._--XwHObI {
    display: flex;
    position: absolute;
    visibility: hidden;
    width: 100%;
}

.zZCiohPH {
    background: rgba(0, 0, 0, 0);
    border: none;
    caret-color: var(--System-Brand);
    color: var(--Label-Primary);
    outline: none;
    padding: 7px 11px;
    resize: none;
}

.zZCiohPH::placeholder {
    color: var(--Label-Tertiary);
}

.zZCiohPH.M4VFnlzC {
    padding-bottom: 0;
}

.zZCiohPH.Y7ptAyof {
    padding: 8px 12px;
}

.zZCiohPH.Y7ptAyof.M4VFnlzC {
    padding: 8px 12px 0;
}

.meqL2F9D {
    color: var(--Label-Primary);
}

.PKzsWCA7,
.meqL2F9D,
.meqL2F9D * {
    box-sizing: border-box;
}

.PKzsWCA7 {
    background: var(--Background-Tertiary);
    border: none;
    border-radius: 10px;
    flex: 0 0 auto;
    height: 20px;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    transition: background 0.15s ease;
    width: 32px;
}

.PKzsWCA7 * {
    box-sizing: border-box;
}

.PKzsWCA7[data-state="checked"] {
    background: var(--System-Brand);
}

.PKzsWCA7:disabled {
    background: var(--Background-Secondary);
}

.PKzsWCA7:disabled[data-state="checked"] {
    background: var(--System-Brand);
}

.PKzsWCA7:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.utQqbRLd {
    border-radius: 10px;
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    transition: all 0.15s ease;
    width: 14px;
}

.utQqbRLd,
.utQqbRLd[data-state="checked"] {
    background: var(--System-Contrast);
    outline: 1px solid var(--Border-Secondary);
}

.utQqbRLd[data-state="checked"] {
    left: 15px;
}

.utQqbRLd[data-disabled=""] {
    background: var(--Background-Tertiary);
}

.utQqbRLd[data-disabled=""][data-state="checked"] {
    background: var(--System-Contrast-2);
}

.mjx2WC6O {
    align-items: center;
    border-radius: 999px;
    color: var(--System-Contrast);
    cursor: default;
    display: inline-flex;
    justify-content: center;
}

.mjx2WC6O,
.mjx2WC6O * {
    box-sizing: border-box;
}

.mjx2WC6O.gB061YMz {
    background: var(--System-Brand);
}

.mjx2WC6O._2-qimAeR {
    background: var(--System-9);
}

.mjx2WC6O.Q15f32AN {
    background: var(--Label-Secondary);
}

.mjx2WC6O.PQuQDynW {
    background: var(--System-Error);
}

.iFsIk9kD {
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
}

.Ys6ub9po {
    height: 20px;
    min-width: 20px;
    padding: 0 5px;
}

.D0D4SIfS {
    background: var(--Fill-Quaternary);
    border: 1px solid var(--Border-Tertiary);
    display: block;
    flex: 0 0 auto;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
}

.D0D4SIfS,
.D0D4SIfS * {
    box-sizing: border-box;
}

.D0D4SIfS[data-state="checked"],
.D0D4SIfS[data-state="indeterminate"] {
    background: var(--Fill-Quaternary);
    border: 1px solid var(--System-Brand);
    color: var(--System-Brand);
}

.D0D4SIfS:hover {
    background: var(--Border-Secondary);
}

.D0D4SIfS:disabled {
    background: var(--Background-Secondary);
    border: 1px solid var(--Border-Primary);
}

.D0D4SIfS:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.HXLHHy-O {
    position: absolute;
}

.O-D-fDsn {
    border-radius: 5px;
    font-size: 14px;
    height: 16px;
    width: 16px;
}

.O-D-fDsn .HXLHHy-O {
    left: 0;
    top: 0;
}

.vyex5rFL {
    border-radius: 6px;
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.vyex5rFL .HXLHHy-O {
    left: -1px;
    top: -1px;
}

.oZRVq2j- {
    border-radius: 7px;
    font-size: 24px;
    height: 24px;
    width: 24px;
}

.oZRVq2j- .HXLHHy-O {
    left: -1px;
    top: -1px;
}

.FWPcTvWu {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: min-content;
}

.FWPcTvWu,
.FWPcTvWu * {
    box-sizing: border-box;
}

.FWPcTvWu[data-orientation="vertical"] {
    align-items: flex-start;
    flex-direction: column;
}

.FWPcTvWu[data-orientation="horizontal"] {
    align-items: flex-start;
    flex-direction: row;
}

.l-T2sk0Q {
    background: var(--Fill-Quaternary);
    border: 1px solid var(--Border-Tertiary);
    border-radius: 50%;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
}

.l-T2sk0Q[data-state="checked"] {
    border-color: var(--System-Brand);
}

.l-T2sk0Q[data-state="checked"].zSSX-mUV:before {
    height: 12px;
    width: 12px;
}

.l-T2sk0Q[data-state="checked"].MO1m4NvC:before,
.l-T2sk0Q[data-state="checked"].zSSX-mUV:before {
    background: var(--System-Brand);
    border-radius: 50%;
    content: "";
    display: block;
    left: 1px;
    position: absolute;
    top: 1px;
}

.l-T2sk0Q[data-state="checked"].MO1m4NvC:before {
    height: 16px;
    width: 16px;
}

.l-T2sk0Q[data-state="checked"].PkU6dsXg:before {
    background: var(--System-Brand);
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 20px;
}

.l-T2sk0Q:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.l-T2sk0Q:disabled,
.l-T2sk0Q:hover {
    background: var(--Border-Secondary);
}

.l-T2sk0Q:disabled {
    border: 1px solid var(--Border-Primary);
}

.zSSX-mUV {
    height: 16px;
    width: 16px;
}

.MO1m4NvC {
    height: 20px;
    width: 20px;
}

.PkU6dsXg {
    height: 24px;
    width: 24px;
}

._5-kP8wal {
    align-items: center;
    cursor: default;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
}

._5-kP8wal,
._5-kP8wal * {
    box-sizing: border-box;
}

._5-kP8wal.PrhWGW-N:before {
    background: var(--System-Brand);
    border: 1px solid var(--System-Contrast);
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

._5-kP8wal._8TB22R1G.PrhWGW-N:before {
    height: 10px;
    width: 10px;
}

._5-kP8wal._8TB22R1G svg {
    height: 20px;
    width: 20px;
}

._5-kP8wal.zeW0dz4B.PrhWGW-N:before {
    height: 10px;
    width: 10px;
}

._5-kP8wal.zeW0dz4B svg {
    height: 24px;
    width: 24px;
}

._5-kP8wal.MWKN-F7J.PrhWGW-N:before {
    height: 14px;
    right: 4px;
    top: 4px;
    width: 14px;
}

._5-kP8wal.MWKN-F7J svg {
    height: 32px;
    width: 32px;
}

._5-kP8wal .TzQpnMaE {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    right: -4px;
    top: -4px;
}

._5-kP8wal .TzQpnMaE .iqanO2pF {
    box-shadow: 0 32px 32px -16px rgba(5, 5, 7, 0.08), 0 0 24px 0 rgba(5, 5, 7, 0.12);
}

._5-kP8wal .TzQpnMaE .iqanO2pF svg {
    height: 16px;
    width: 16px;
}

.j3i0uaKN {
    background: var(--Background-Secondary);
}

.WKr8g7YO,
.j3i0uaKN {
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.WKr8g7YO {
    align-items: center;
    background: var(--Background-Tertiary);
    border: 1px solid var(--Border-Primary);
    color: var(--Label-Tertiary);
    display: flex;
    justify-content: center;
}

.psWMWdc6 {
    border-radius: inherit;
    object-fit: cover;
}

.pks6AjAg,
.psWMWdc6 {
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.pks6AjAg {
    align-items: center;
    background: var(--Background-Tertiary);
    color: var(--Label-Primary);
    display: flex;
    justify-content: center;
}

._8TB22R1G {
    height: 32px;
    width: 32px;
}

.zeW0dz4B {
    height: 40px;
    width: 40px;
}

.MWKN-F7J {
    height: 80px;
    width: 80px;
}

.fjJv5H1a {
    background: var(--System-2);
    border-radius: 4px;
    color: var(--System-Contrast);
    max-width: 200px;
    overflow-wrap: break-word;
    padding: 2px 8px;
}

.fjJv5H1a,
.fjJv5H1a * {
    box-sizing: border-box;
}

.fjJv5H1a.GVrfRoQq {
    text-align: center;
}

.fjJv5H1a.yznakzwk {
    text-align: left;
}

.Y1rZWNP5 {
    align-items: center;
    background: rgba(0, 0, 0, 0.16);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 40px 24px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.Y1rZWNP5,
.Y1rZWNP5 * {
    box-sizing: border-box;
}

.Y1rZWNP5[data-state="open"] {
    animation: NPaxaZ1c 0.1s ease forwards;
}

.Y1rZWNP5[data-state="closed"] {
    animation: Gorlwl2B 0.1s ease forwards;
}

.GMtBmJhI {
    background: var(--Background-Primary);
    border-radius: 16px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12), 0 32px 32px -16px rgba(0, 0, 0, 0.08);
    color: var(--Label-Primary);
    max-height: 100%;
    padding: 24px 24px 16px;
    width: 480px;
}

.GMtBmJhI[data-state="open"] {
    animation: kPbQjfnw 0.1s ease-in forwards;
}

.GMtBmJhI[data-state="closed"] {
    animation: ul-Ps0Qf 0.1s ease forwards;
}

.d86J-88Q {
    margin: 0 0 8px;
    padding: 0;
}

.TXK39cYW {
    margin: 0 0 16px;
    padding: 0;
}

.Ys--vvlc {
    margin-right: -24px;
    overflow-y: scroll;
    padding-right: 24px;
}

.iWV0plWR {
    border-top: 1px solid var(--Border-Primary);
    padding-top: 16px;
}

@keyframes NPaxaZ1c {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Gorlwl2B {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes kPbQjfnw {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ul-Ps0Qf {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.wWz6zZAy {
    align-items: center;
    background: rgba(0, 0, 0, 0.16);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 40px 24px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.wWz6zZAy,
.wWz6zZAy * {
    box-sizing: border-box;
}

.wWz6zZAy[data-state="open"] {
    animation: _9sHQKfcV 0.1s ease forwards;
}

.wWz6zZAy[data-state="closed"] {
    animation: x5JqZLx8 0.1s ease forwards;
}

.rvclrqzT {
    background: var(--Background-Primary);
    border-radius: 16px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12), 0 32px 32px -16px rgba(0, 0, 0, 0.08);
    color: var(--Label-Primary);
    max-height: 100%;
    padding: 24px 24px 16px;
    width: 320px;
}

.rvclrqzT[data-state="open"] {
    animation: zXzI-QDN 0.1s ease-in forwards;
}

.rvclrqzT[data-state="closed"] {
    animation: vbUHzS68 0.1s ease forwards;
}

.U40euNkp {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 8px;
}

.-gx34TmT,
.U40euNkp h1,
.U40euNkp h2,
.U40euNkp h3,
.U40euNkp h4,
.U40euNkp h5,
.U40euNkp h6,
.U40euNkp li,
.U40euNkp p,
.U40euNkp ul {
    margin: 0;
    padding: 0;
}

.-gx34TmT {
    text-align: center;
}

.Nm4PWngN {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding-top: 24px;
}

@keyframes _9sHQKfcV {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes x5JqZLx8 {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zXzI-QDN {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes vbUHzS68 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

._6rxPBiDz {
    display: inline-flex;
}

._6rxPBiDz,
._6rxPBiDz * {
    box-sizing: border-box;
}

._6rxPBiDz .xsfJjOXA {
    align-items: flex-start;
    background: rgba(0, 0, 0, 0);
    border: none;
    display: inline-flex;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
}

._6rxPBiDz .xsfJjOXA:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: -1px;
}

._6rxPBiDz .xsfJjOXA.DnLfgBT9 {
    color: var(--Label-Primary);
    height: 28px;
    margin-right: 16px;
    min-width: 40px;
}

._6rxPBiDz .xsfJjOXA.DnLfgBT9:last-child {
    margin-right: 0;
}

._6rxPBiDz .xsfJjOXA.DnLfgBT9 ._8jUt502i {
    align-items: center;
    display: flex;
    gap: 4px;
}

._6rxPBiDz .xsfJjOXA.DnLfgBT9:after {
    border-radius: 3px;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

._6rxPBiDz .xsfJjOXA.DnLfgBT9:hover:after {
    background: var(--Border-Primary);
}

._6rxPBiDz .xsfJjOXA.DnLfgBT9[data-state="active"] {
    color: var(--System-Brand);
}

._6rxPBiDz .xsfJjOXA.DnLfgBT9[data-state="active"] .cLS4P6t0,
._6rxPBiDz .xsfJjOXA.DnLfgBT9[data-state="active"]:after {
    background: var(--System-Brand);
}

._6rxPBiDz .xsfJjOXA.EY6XLCah {
    color: var(--Label-Secondary);
    height: 28px;
    margin-right: 16px;
    min-width: 40px;
}

._6rxPBiDz .xsfJjOXA.EY6XLCah:last-child {
    margin-right: 0;
}

._6rxPBiDz .xsfJjOXA.EY6XLCah ._8jUt502i {
    align-items: center;
    display: flex;
    gap: 4px;
}

._6rxPBiDz .xsfJjOXA.EY6XLCah:after {
    border-radius: 3px;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

._6rxPBiDz .xsfJjOXA.EY6XLCah:hover:after {
    background: var(--Border-Primary);
}

._6rxPBiDz .xsfJjOXA.EY6XLCah[data-state="active"] {
    color: var(--System-Brand);
}

._6rxPBiDz .xsfJjOXA.EY6XLCah[data-state="active"] .cLS4P6t0,
._6rxPBiDz .xsfJjOXA.EY6XLCah[data-state="active"]:after {
    background: var(--System-Brand);
}

._6rxPBiDz .xsfJjOXA.jiBuN6lJ {
    color: var(--Label-Primary);
    height: 28px;
    margin-right: 16px;
    min-width: 40px;
}

._6rxPBiDz .xsfJjOXA.jiBuN6lJ:last-child {
    margin-right: 0;
}

._6rxPBiDz .xsfJjOXA.jiBuN6lJ ._8jUt502i {
    align-items: center;
    display: flex;
    gap: 4px;
}

._6rxPBiDz .xsfJjOXA.jiBuN6lJ:after {
    border-radius: 3px;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

._6rxPBiDz .xsfJjOXA.jiBuN6lJ:hover:after {
    background: var(--Border-Primary);
}

._6rxPBiDz .xsfJjOXA.jiBuN6lJ[data-state="active"] {
    color: var(--System-Brand);
}

._6rxPBiDz .xsfJjOXA.jiBuN6lJ[data-state="active"] .cLS4P6t0,
._6rxPBiDz .xsfJjOXA.jiBuN6lJ[data-state="active"]:after {
    background: var(--System-Brand);
}

._6rxPBiDz .xsfJjOXA.lhbOkCUY {
    align-items: center;
    background: var(--Background-Secondary);
    display: inline-flex;
    height: 32px;
    min-width: 72px;
    padding: 4px;
}

._6rxPBiDz .xsfJjOXA.lhbOkCUY._0SqX66iH,
._6rxPBiDz .xsfJjOXA.lhbOkCUY._0SqX66iH ._8jUt502i {
    width: 100%;
}

._6rxPBiDz .xsfJjOXA.lhbOkCUY ._8jUt502i {
    color: var(--Label-Primary);
}

._6rxPBiDz .xsfJjOXA.lhbOkCUY:first-child {
    border-radius: 12px 0 0 12px;
}

._6rxPBiDz .xsfJjOXA.lhbOkCUY:last-child {
    border-radius: 0 12px 12px 0;
}

._6rxPBiDz .xsfJjOXA.lhbOkCUY ._8jUt502i {
    border-radius: 8px;
    padding: 2px 12px;
}

._6rxPBiDz .xsfJjOXA.lhbOkCUY:hover ._8jUt502i {
    background: var(--Background-Tertiary);
}

._6rxPBiDz .xsfJjOXA.lhbOkCUY[data-state="active"] ._8jUt502i {
    background: var(--System-Brand);
    color: var(--System-Contrast);
}

._6rxPBiDz .xsfJjOXA.hQAvf1cE {
    align-items: center;
    border-radius: 6px;
    color: var(--Label-Primary);
    gap: 8px;
    margin-right: 15px;
    min-width: 80px;
}

._6rxPBiDz .xsfJjOXA.hQAvf1cE ._8jUt502i {
    align-items: center;
    border-radius: 6px;
    display: flex;
    height: 100%;
    padding: 4px 12px;
}

._6rxPBiDz .xsfJjOXA.hQAvf1cE:after {
    background: var(--Label-Tertiary);
    border-radius: 1px;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%) rotate(30deg);
    width: 2px;
}

._6rxPBiDz .xsfJjOXA.hQAvf1cE:hover ._8jUt502i {
    background: var(--Background-Secondary);
}

._6rxPBiDz .xsfJjOXA.hQAvf1cE[data-state="active"] ._8jUt502i {
    background: var(--Background-Tertiary);
}

._6rxPBiDz .xsfJjOXA.hQAvf1cE .NQhSQ0q1 {
    height: 24px;
}

._6rxPBiDz .xsfJjOXA.hQAvf1cE ._6YqRYThG {
    height: 28px;
}

.uWJhrQ4X {
    align-items: center;
    display: flex;
    position: relative;
    width: min-content;
}

.uWJhrQ4X.zJfriBCM {
    width: 100%;
}

.j2UfGmgA {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    gap: 4px;
    justify-content: space-between;
    margin: 0;
    outline: none;
    padding: 0 8px;
}

.j2UfGmgA,
.j2UfGmgA * {
    box-sizing: border-box;
}

.j2UfGmgA:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.j2UfGmgA._9xXaMCg1 {
    background: var(--Background-Secondary);
    border: 1px solid var(--Border-Primary);
    color: var(--Label-Primary);
    height: 32px;
    width: 168px;
}

.j2UfGmgA._9xXaMCg1.yikGODPI {
    border-color: var(--System-Error);
}

.j2UfGmgA._9xXaMCg1[data-placeholder=""] {
    color: var(--Label-Secondary);
}

.j2UfGmgA._9xXaMCg1:hover:enabled,
.j2UfGmgA._9xXaMCg1:hover:not([data-disabled=""]) {
    background: var(--Background-Tertiary);
}

.j2UfGmgA._9xXaMCg1 span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.j2UfGmgA._9xXaMCg1[data-state="open"] {
    background: var(--Background-Tertiary);
    color: var(--Label-Tertiary);
}

.j2UfGmgA._9xXaMCg1[data-state="open"] .RH27Wv2Y {
    transform: rotate(180deg);
    transition: all 0.2s ease;
}

.j2UfGmgA._9xXaMCg1:disabled,
.j2UfGmgA._9xXaMCg1:disabled .RH27Wv2Y,
.j2UfGmgA._9xXaMCg1[data-disabled=""],
.j2UfGmgA._9xXaMCg1[data-disabled=""] .RH27Wv2Y {
    color: var(--Label-Tertiary);
}

.j2UfGmgA._9xXaMCg1.zJfriBCM {
    width: 100%;
}

.j2UfGmgA._9xXaMCg1.DP4XFiCt {
    justify-content: flex-end;
}

.j2UfGmgA.ux8F1GPr {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: var(--Label-Primary);
    height: 28px;
}

.j2UfGmgA.ux8F1GPr[data-placeholder=""] {
    color: var(--Label-Secondary);
}

.j2UfGmgA.ux8F1GPr:hover:enabled,
.j2UfGmgA.ux8F1GPr:hover:not([data-disabled=""]) {
    background: var(--Background-Secondary);
}

.j2UfGmgA.ux8F1GPr span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.j2UfGmgA.ux8F1GPr[data-state="open"] {
    background: var(--Background-Tertiary);
}

.j2UfGmgA.ux8F1GPr[data-state="open"] .RH27Wv2Y {
    transform: rotate(180deg);
    transition: all 0.2s ease;
}

.j2UfGmgA.ux8F1GPr:disabled,
.j2UfGmgA.ux8F1GPr:disabled .RH27Wv2Y,
.j2UfGmgA.ux8F1GPr[data-disabled=""],
.j2UfGmgA.ux8F1GPr[data-disabled=""] .RH27Wv2Y {
    color: var(--Label-Tertiary);
}

.j2UfGmgA.ux8F1GPr.zJfriBCM {
    width: 100%;
}

.j2UfGmgA.ux8F1GPr.zJfriBCM.DP4XFiCt {
    justify-content: flex-end;
    padding: 0 8px;
    width: 100%;
}

.j2UfGmgA.ux8F1GPr.DP4XFiCt {
    justify-content: center;
    padding: 0;
    width: 28px;
}

.RH27Wv2Y {
    color: var(--Label-Primary);
    flex: 0 0 auto;
    transition: all 0.2s ease;
}

.RH27Wv2Y._1K7ZMq7t {
    visibility: hidden;
}

.RH27Wv2Y.m-JQT4I- {
    cursor: pointer;
    position: absolute;
    right: 8px;
}

.N1mlovWJ {
    background: var(--Fill-Quaternary);
    border: 1px solid var(--Border-Primary);
    border-radius: 12px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12), 0 32px 32px -16px rgba(0, 0, 0, 0.08);
    max-height: 420px;
    padding: 4px;
}

.N1mlovWJ,
.N1mlovWJ * {
    box-sizing: border-box;
}

.N1mlovWJ ._72RnuUcm {
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    color: var(--Label-Primary);
    cursor: default;
    padding: 6px 8px;
}

.N1mlovWJ ._72RnuUcm[data-highlighted=""] {
    background: var(--Background-Secondary);
    outline: none;
}

.N1mlovWJ ._72RnuUcm[data-state="checked"] {
    background: var(--Background-Tertiary);
}

.N1mlovWJ .zUgZC3Ak {
    color: var(--Label-Secondary);
    padding: 16px 8px 8px;
}

.fZBhdvR3 {
    align-items: center;
    background: var(--Background-Secondary);
    border: 1px solid var(--Border-Primary);
    border-radius: 8px;
    color: var(--Label-Tertiary);
    display: inline-flex;
    height: 32px;
    position: relative;
    width: 280px;
}

.fZBhdvR3,
.fZBhdvR3 * {
    box-sizing: border-box;
}

.fZBhdvR3.PAOaL2nq {
    width: 100%;
}

.fZBhdvR3 ._1C4HHuzN {
    left: 12px;
    position: absolute;
}

.fZBhdvR3 .YTkQ2OGo {
    cursor: pointer;
    position: absolute;
    right: 12px;
}

.fZBhdvR3:hover {
    background: var(--Background-Quaternary);
    border: 1px solid var(--Border-Primary);
}

.fZBhdvR3:focus-within {
    color: var(--Label-Primary);
}

.fZBhdvR3 .cMJwhSIB {
    background: rgba(0, 0, 0, 0);
    border: none;
    caret-color: var(--System-Brand);
    color: var(--Label-Primary);
    outline: none;
    padding: 0 40px;
    width: 100%;
}

.fZBhdvR3 .cMJwhSIB.uXiRDRMz {
    padding: 0 40px;
}

.fZBhdvR3 .cMJwhSIB::placeholder {
    color: var(--Label-Tertiary);
}

.bdsfKfnO {
    align-items: center;
    background: var(--Background-Secondary);
    border: 1px solid var(--Border-Primary);
    border-radius: 8px;
    color: var(--Label-Tertiary);
    cursor: pointer;
    display: flex;
    gap: 4px;
    height: 32px;
    justify-content: space-between;
    outline: none;
    padding: 0 12px;
    width: 168px;
}

.bdsfKfnO ._7cT5o816 {
    flex: 0 0 auto;
    transition: all 0.2s ease;
}

.bdsfKfnO .ADpZc8vR {
    flex: 0 0 auto;
}

.bdsfKfnO.cy157Rlp {
    color: var(--Label-Primary);
}

.bdsfKfnO:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.bdsfKfnO:hover,
.bdsfKfnO[data-state="open"] {
    background: var(--Background-Tertiary);
}

.bdsfKfnO[data-state="open"] ._7cT5o816 {
    transform: rotate(180deg);
    transition: all 0.2s ease;
}

.bdsfKfnO.v4yDSXzg {
    width: 100%;
}

.bdsfKfnO.aFi46pJl {
    border-color: var(--System-Error);
    color: var(--System-Error);
}

.JgqPy9dn {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.JgqPy9dn,
.JgqPy9dn * {
    box-sizing: border-box;
}

.JgqPy9dn.T4MT6WEv {
    width: var(--radix-popover-trigger-width);
}

.JgqPy9dn .wp6wCz4I {
    flex: 0 0 auto;
}

.JgqPy9dn .CuCwfLw9 {
    flex: 1 1 auto;
    overflow: auto;
    scrollbar-width: none;
}

.JgqPy9dn .CuCwfLw9 .QJmMMfP- {
    margin: 8px 0;
}

.JgqPy9dn .CuCwfLw9 .QJmMMfP- .Caoz7u5K {
    color: var(--Label-Secondary);
    padding: 8px;
}

.A7NGmHVc {
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    color: var(--Label-Primary);
    cursor: default;
    display: flex;
    gap: 8px;
    height: 32px;
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.A7NGmHVc,
.A7NGmHVc .AmFiIUks,
.A7NGmHVc .hVnmytsQ {
    flex: 0 0 auto;
}

.A7NGmHVc._9GJ69a4y,
.A7NGmHVc.u9cyZvl4 {
    background: rgba(0, 0, 0, 0);
}

.A7NGmHVc._9GJ69a4y {
    color: var(--Label-Tertiary);
}

.A7NGmHVc.GRO-IPw6 {
    height: 40px;
}

.A7NGmHVc:focus-visible,
.A7NGmHVc:hover {
    background: var(--Background-Secondary);
    outline: none;
}

.SFWseHkx {
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    color: var(--Label-Secondary);
    display: flex;
    gap: 8px;
    height: 32px;
    padding: 6px 8px;
    text-decoration: none;
    width: min-content;
}

.SFWseHkx,
.SFWseHkx * {
    box-sizing: border-box;
}

.SFWseHkx:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.SFWseHkx:hover {
    background: var(--Background-Secondary);
    color: var(--Label-Primary);
}

.SFWseHkx.-eF23QM7 {
    background: var(--Background-Tertiary);
    color: var(--Label-Primary);
}

.SFWseHkx.AKp0NWZf {
    width: 100%;
}

.tYJMEI62 {
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border-radius: 12px;
    color: var(--Label-Tertiary);
    display: flex;
    font-size: 20px;
    height: 36px;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: 36px;
}

.tYJMEI62,
.tYJMEI62 * {
    box-sizing: border-box;
}

.tYJMEI62:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.tYJMEI62:hover {
    background: var(--Background-Secondary);
    color: var(--System-Brand);
}

.tYJMEI62.p2P--pRd {
    background: var(--Background-Tertiary);
    color: var(--System-Brand);
}

.tYJMEI62 .-DFA4D-D {
    position: absolute;
    right: -4px;
    top: -4px;
}

.tYJMEI62 .UmLQSpZc {
    background: var(--System-Error);
    border-radius: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
}

.E0JPELix {
    align-items: center;
    background: rgba(0, 0, 0, 0);
    color: var(--Label-Primary);
    display: inline-flex;
    position: relative;
    transition: all 0.2s ease;
    width: 28px;
}

.E0JPELix,
.E0JPELix * {
    box-sizing: border-box;
}

.E0JPELix .iMnUwBDE {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all 0.2s ease;
    visibility: hidden;
    z-index: -1;
}

.E0JPELix.SuS791Rr {
    transition: all 0.2s ease;
    width: 260px;
}

.E0JPELix.SuS791Rr .iMnUwBDE {
    opacity: 1;
    transition: all 0.2s ease;
    visibility: visible;
    z-index: 0;
}

.E0JPELix ._3vnvenes {
    flex: 0 0 auto;
}

.E0JPELix ._8-Xe5XjX {
    background: rgba(0, 0, 0, 0);
    border: none;
    caret-color: var(--System-Brand);
    color: var(--Label-Primary);
    flex: 1 1 auto;
    margin: 0;
    outline: none;
    padding: 0;
    transition: all 0.2s ease;
    width: 100%;
}

.E0JPELix ._8-Xe5XjX::placeholder {
    color: var(--Label-Tertiary);
}

.E0JPELix ._8-Xe5XjX.SuS791Rr {
    padding: 0 4px;
    transition: all 0.2s ease;
}

.E0JPELix ._8-Xe5XjX.L80vcaTP {
    padding: 0 24px 0 4px;
}

._954waRB2 {
    background: var(--Fill-Quaternary);
    border: 1px solid var(--Border-Primary);
    border-radius: 8px;
    box-shadow: 0 32px 32px -16px rgba(0, 0, 0, 0.08), 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 7px;
}

.UfKg5yy2,
._954waRB2,
._954waRB2 * {
    box-sizing: border-box;
}

.UfKg5yy2 {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    left: 50%;
    list-style: none;
    margin: 0;
    max-height: 100vh;
    max-width: min(100%, 800px);
    padding: 20px;
    position: fixed;
    transform: translateX(-50%);
    z-index: 9999;
}

.UfKg5yy2 *,
.pROy7HwE {
    box-sizing: border-box;
}

.pROy7HwE {
    align-items: center;
    backdrop-filter: blur(2px);
    border-radius: 8px;
    box-shadow: 0 2px 18px -5px rgba(8, 7, 13, 0.26);
    color: var(--System-Contrast);
    display: flex;
    gap: 8px;
    max-width: 100%;
    min-height: 40px;
    padding: 0 16px;
}

.pROy7HwE * {
    box-sizing: border-box;
}

.pROy7HwE[data-state="open"] {
    animation: bWnnztfG 0.1s ease-in;
}

.pROy7HwE[data-state="closed"] {
    animation: zPrDUv3X 0.1s ease-out;
}

.pROy7HwE[data-swipe="move"] {
    transform: translateY(var(--radix-toast-swipe-move-y));
}

.pROy7HwE[data-swipe="end"] {
    transform: animateOut 0.1s ease-out;
}

.pROy7HwE.xDYoAIHL {
    background: var(--System-2);
}

.pROy7HwE._-5Af0oFN {
    background: var(--System-Error);
}

.pROy7HwE.jpQSPVz6 {
    background: var(--System-Warning);
}

.pROy7HwE .Iv28RagI {
    flex: 1 1 auto;
}

.pROy7HwE ._4mizXQbW {
    border-radius: 4px;
    cursor: pointer;
    flex: 1 0 auto;
}

.pROy7HwE ._4mizXQbW:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.pROy7HwE ._0dl8CL-2 {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 4px;
    color: var(--System-Contrast);
    cursor: pointer;
    flex: 1 1 auto;
    outline: none;
    padding: 6px 12px;
}

.pROy7HwE ._0dl8CL-2:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

@keyframes bWnnztfG {
    0% {
        opacity: 0;
        transform: translateY(calc(100% + 20px));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zPrDUv3X {
    0% {
        opacity: 1;
        transform: translateY(var(--radix-toast-swipe-end-y));
    }

    to {
        opacity: 0;
        transform: translateY(calc(100% + 20px));
    }
}

._3ZJgX-59 {
    align-items: center;
    cursor: default;
    display: flex;
    gap: 8px;
    max-width: 100%;
    width: min-content;
}

._3ZJgX-59,
._3ZJgX-59 * {
    box-sizing: border-box;
}

._3ZJgX-59 .jV28G4BQ {
    flex: 0 0 auto;
}

._3ZJgX-59 .co0Kq6rd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: start;
}

._3ZJgX-59 .co0Kq6rd .Xx77cUIQ,
._3ZJgX-59 .co0Kq6rd .ir-w8jQl {
    margin: 0;
    padding: 0;
}

._3ZJgX-59 .co0Kq6rd .Xx77cUIQ {
    color: var(--Label-Primary);
}

._3ZJgX-59 .co0Kq6rd .ir-w8jQl {
    color: var(--Label-Secondary);
}

.cDZaiQ4n {
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    height: 32px;
    margin: 0;
    outline: none;
    padding: 0 8px;
}

.cDZaiQ4n:hover {
    background: var(--Background-Secondary);
}

.cDZaiQ4n:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.cDZaiQ4n._4lvopFIg {
    background: var(--Background-Tertiary);
}

.cDZaiQ4n.XwTKb6-o {
    color: var(--Label-Primary);
}

.cDZaiQ4n.mFQYUv-d {
    color: var(--System-Error);
}

.cDZaiQ4n .KFOxedSk {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
}

.THIv46Mg {
    background: rgba(0, 0, 0, 0.16);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.THIv46Mg,
.THIv46Mg * {
    box-sizing: border-box;
}

.THIv46Mg[data-state="open"] {
    animation: Hmu2hpof 0.1s ease forwards;
}

.THIv46Mg[data-state="closed"] {
    animation: nLmzPGsQ 0.1s ease forwards;
}

.zZ9xRsVy {
    background: var(--Fill-Quaternary);
    border: 1px solid var(--Border-Primary);
    height: 100%;
    padding: 16px 16px 32px;
    position: absolute;
    width: 312px;
}

.zZ9xRsVy.pwTcWI-C {
    left: 0;
}

.zZ9xRsVy.EzGpIhhG {
    right: 0;
}

.zZ9xRsVy[data-state="open"].pwTcWI-C {
    animation: _5Vo8KJE- 0.1s ease-in forwards;
}

.zZ9xRsVy[data-state="open"].EzGpIhhG {
    animation: eiqj85eM 0.1s ease-in forwards;
}

.zZ9xRsVy[data-state="closed"].pwTcWI-C {
    animation: LkcSbxrV 0.1s ease forwards;
}

.zZ9xRsVy[data-state="closed"].EzGpIhhG {
    animation: xYD-ci6s 0.1s ease forwards;
}

.zZ9xRsVy .-yf3PnmQ {
    margin: 0;
}

@keyframes Hmu2hpof {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes nLmzPGsQ {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes _5Vo8KJE- {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes eiqj85eM {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes LkcSbxrV {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes xYD-ci6s {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

._7fN4Z3RP {
    align-items: center;
    background: var(--Background-Tertiary);
    border: none;
    border-radius: 6px;
    color: var(--Label-Primary);
    cursor: pointer;
    display: flex;
    gap: 8px;
    height: 28px;
    outline: none;
    padding: 0 8px;
}

._7fN4Z3RP,
._7fN4Z3RP * {
    box-sizing: border-box;
}

._7fN4Z3RP:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

._7fN4Z3RP .UUbsBzf9 {
    align-items: center;
    display: flex;
    gap: 4px;
}

.k9fO-zhJ,
.k9fO-zhJ * {
    box-sizing: border-box;
}

.k9fO-zhJ[data-orientation="horizontal"] {
    border-bottom: 1px solid var(--Border-Primary);
}

.k9fO-zhJ[data-orientation="vertical"] {
    border-right: 1px solid var(--Border-Primary);
}

.XVlmb6Yl {
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    color: var(--Label-Primary);
    display: flex;
    gap: 8px;
    padding: 0 8px;
}

.XVlmb6Yl,
.XVlmb6Yl * {
    box-sizing: border-box;
}

.XVlmb6Yl:hover,
.XVlmb6Yl[data-highlighted=""] {
    background: var(--Background-Secondary);
}

.XVlmb6Yl.ci3vUCVy {
    background: var(--Background-Tertiary);
}

.XVlmb6Yl.lDBwiDNT {
    color: var(--Label-Tertiary);
    cursor: not-allowed;
}

.XVlmb6Yl.lDBwiDNT:hover {
    background: rgba(0, 0, 0, 0);
}

.XVlmb6Yl.YFKX-G8v {
    height: 32px;
}

.XVlmb6Yl._8zNPw8cl {
    height: 40px;
}

.XVlmb6Yl.SRthrbPH {
    height: 48px;
}

.RyBzllCL {
    overflow: hidden;
}

.RyBzllCL[data-state="open"] {
    animation: Wo0SoTz5 0.15s ease;
}

.RyBzllCL[data-state="closed"] {
    animation: ScYpqt0U 0.15s ease;
}

@keyframes Wo0SoTz5 {
    0% {
        height: 0;
    }

    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes ScYpqt0U {
    0% {
        height: var(--radix-accordion-content-height);
    }

    to {
        height: 0;
    }
}

.vQEhzyAZ {
    position: relative;
}

.vQEhzyAZ,
.vQEhzyAZ * {
    box-sizing: border-box;
}

.vQEhzyAZ[data-multiple-months="true"] .rmJdycZ0 {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.vQEhzyAZ[data-multiple-months="true"] .MT3DmQ1o {
    justify-content: space-between;
}

.vQEhzyAZ[data-multiple-months="true"] .ilgvqnGU {
    text-align: center;
}

.rmJdycZ0 {
    min-width: min-content;
    position: relative;
    width: 100%;
}

._0RA-LBxf {
    display: block;
}

.MT3DmQ1o {
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding: 16px 16px 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ilgvqnGU {
    padding: 16px 16px 4px;
}

.IVZBdv3x {
    display: grid;
}

.mc7aO3Uz {
    justify-content: space-between;
    padding: 4px 8px;
    width: 100%;
}

.Spb2f5GW,
.mc7aO3Uz {
    align-items: center;
    display: flex;
}

.Spb2f5GW {
    color: var(--Label-Tertiary);
    height: 40px;
    justify-content: center;
    width: 40px;
}

.Spb2f5GW:nth-child(6),
.Spb2f5GW:nth-child(7) {
    color: var(--System-Error);
}

._7CKFoBm3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px 8px;
}

.Vefrcgp6 {
    justify-content: space-between;
}

.Vefrcgp6,
.dseUAmrW {
    align-items: center;
    display: flex;
}

.dseUAmrW {
    height: 40px;
    justify-content: center;
    width: 40px;
}

.dseUAmrW.v-DiHv-Y .ho23dNhc {
    color: var(--Label-Tertiary);
}

.dseUAmrW._5NryrMUb .ho23dNhc {
    background: var(--System-Brand);
    color: var(--System-Contrast);
}

.dseUAmrW._5NryrMUb .ho23dNhc:hover {
    background: var(--System-Brand-Hover);
}

.dseUAmrW.skHxkEqy .ho23dNhc {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.dseUAmrW.qiFVQ4pI .ho23dNhc {
    background: var(--System-Brand-Secondary);
    border-radius: 0;
    color: var(--Label-Primary);
}

.dseUAmrW.qiFVQ4pI .ho23dNhc:hover {
    background: var(--Fill-Tertiary);
}

.dseUAmrW.-KPqG6K6 .ho23dNhc {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.dseUAmrW.skHxkEqy.-KPqG6K6 .ho23dNhc {
    border-radius: 20px;
}

.ho23dNhc {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 20px;
    color: var(--Label-Primary);
    height: 40px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 40px;
}

.ho23dNhc:hover {
    background: var(--Fill-Tertiary);
}

.ho23dNhc:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.uL3ucTa1 {
    visibility: hidden;
}

.Zn04RP0t {
    display: inline-flex;
    gap: 24px;
}

.Zn04RP0t,
.Zn04RP0t * {
    box-sizing: border-box;
}

.Zn04RP0t .cdLxigj4 {
    align-items: center;
    color: var(--Label-Primary);
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 72px;
}

.Zn04RP0t .cdLxigj4 .-IBjUvcH {
    align-items: center;
    border: none;
    border-radius: 56px;
    cursor: pointer;
    display: flex;
    height: 56px;
    justify-content: center;
    outline: none;
    padding: 0;
    position: relative;
    width: 56px;
}

.Zn04RP0t .cdLxigj4 .-IBjUvcH:focus-visible {
    outline: 1px solid var(--System-1);
    outline-offset: 1px;
}

.Zn04RP0t .cdLxigj4 .-IBjUvcH.RomvvUQb {
    background: var(--System-Contrast);
    color: var(--System-2);
}

.Zn04RP0t .cdLxigj4 .-IBjUvcH.uthBrsyL {
    background: var(--System-2);
    color: var(--System-Contrast);
}

.Zn04RP0t .cdLxigj4 .-IBjUvcH.c616zyBL {
    background: var(--Background-Tertiary);
    color: var(--Label-Secondary);
}

.Zn04RP0t .cdLxigj4 .-IBjUvcH .f2INUxZ8 {
    display: none;
}

.Zn04RP0t .cdLxigj4 .-IBjUvcH[data-state="checked"] {
    border: 2px solid var(--System-Brand);
    color: var(--System-Brand);
}

.Zn04RP0t .cdLxigj4 .-IBjUvcH[data-state="checked"] .f2INUxZ8 {
    align-items: center;
    background: var(--Background-Primary);
    border: 1px solid var(--System-Brand);
    border-radius: 5px;
    display: flex;
    height: 16px;
    justify-content: center;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 16px;
}

.Zn04RP0t .cdLxigj4 .-IBjUvcH[data-state="checked"]+.BiCFcgDE {
    color: var(--System-Brand);
}

.Zn04RP0t .cdLxigj4 .BiCFcgDE {
    color: var(--Label-Primary);
}